<div>
  <!-- HTML5 Footer -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container-fluid">
    <h4 class="text-center";>
      Hai, makasih ya udah liat toko kami. Tapi bentar duluuu, ada pantun
    </h4>
    <div class="container-fluid">
      <p>
        ada dangdut ada gendang
       </p> 
       <p>
        dimulainya jam 8 pagi
       </p>
       <p>
        masa iya liat doang
       </p>
       <p>
        liat doang kaga beli
      </p>

    </div>
    <h5>
      dipikirin lagi ya, dadaahh
    </h5>
  </div>
</footer>

</div>